@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #f8f5f1;
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
}

p {
  font-size: 23px;
  color: #387c6d;
  font-family: 'Source Code Pro', monospace;
  font-weight: light;
}

h2 {
  color: #343f56;
  font-size: 40px;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  color: #343f56;
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  background-color: #eae9db;
}

header {
  width: 100%;
}

header .back-ground-color {
  position: relative;
  background-color: #f8f5f1;
  border-bottom-right-radius: 100px;
  height: 760px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color {
    height: 800px;
  }
}

header .back-ground-color .mobile-menu a {
  float: right;
  margin: 30px 15px;
}

header .back-ground-color .mobile-menu a span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #e9896a;
}

header .back-ground-color .mobile-menu a span:nth-child(2) {
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .mobile-menu {
    display: none;
  }
}

header .back-ground-color .orange-stroke {
  display: none;
  position: relative;
  margin: 0 auto;
  border: 8px solid #e9896a;
  border-radius: 50%;
  width: 567px;
  height: 567px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .orange-stroke {
    display: block;
    position: absolute;
    left: 110px;
    top: 45px;
  }
}

header .back-ground-color .orange-stroke .green-cir {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #387c6d;
  width: 531px;
  height: 531px;
}

header .back-ground-color .orange-stroke .green-cir nav .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .back-ground-color .orange-stroke .green-cir nav .gnb .title a {
  font-size: 40px;
}

header .back-ground-color .orange-stroke .green-cir nav .gnb .plus {
  padding-left: 50px;
  line-height: 52px;
}

header .back-ground-color .hello {
  text-align: center;
  padding: 112px 0 100px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .hello {
    display: none;
  }
}

header .back-ground-color .illustration {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .flower {
    position: absolute;
    bottom: 60px;
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    position: absolute;
    z-index: 1;
  }
}

header .back-ground-color .illustration .flower img {
  width: 542px;
  height: 424px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .flower img {
    width: 847px;
    height: 663px;
  }
}

header .back-ground-color .illustration .me {
  position: absolute;
  bottom: -4px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  position: absolute;
  z-index: 1;
}

header .back-ground-color .illustration .me img {
  width: 319px;
  height: 449px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .me img {
    width: 499px;
    height: 702px;
  }
}

header .background-green {
  margin-top: 40px;
  background-color: #387c6d;
  height: 580px;
}

@media screen and (min-width: 1024px) {
  header .background-green {
    position: absolute;
    top: -40px;
    right: 0;
    width: 900px;
    height: 800px;
    border-radius: 100px;
  }
}

header .background-green img {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .background-green img {
    display: block;
    margin: -5px -3px;
  }
}

header .background-green p {
  text-align: center;
  padding-top: 82px;
  color: #e5bdb3;
  font-family: 'BMHANNAAir';
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  header .background-green p {
    text-align: right;
    margin-right: 75px;
    font-size: 25px;
  }
}

main .my-skill h2 {
  text-align: left;
  font-size: 25px;
  border-bottom: 2px solid #343f56;
  line-height: 1.6px;
  margin: 54px 10px 20px 10px;
}

@media screen and (min-width: 1024px) {
  main .my-skill h2 {
    font-size: 40px;
    margin-top: 157px;
  }
}

main .my-skill h2 span {
  background-color: #eae9db;
  padding: 0 10px;
  margin: 0 30px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .vl {
    border-left: 2px solid #343f56;
    height: 350px;
    position: absolute;
    top: 610px;
    left: 385px;
    z-index: 1;
  }
}

main .my-skill .my-skills-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  main .my-skill .my-skills-flex-box .web .web-box {
    width: 100%/5;
  }
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin-top: 10px;
  }
  main .my-skill .my-skills-flex-box .video .video-box {
    width: 100%/4;
  }
}

main .my-skill .my-skills-flex-box .green {
  text-align: center;
  border-radius: 50%;
  border: 3px solid #387c6d;
  width: 170px;
  height: 170px;
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .green {
    width: 210px;
    height: 210px;
  }
}

main .my-skill .my-skills-flex-box .green .orange {
  margin: 2px auto;
  border-radius: 50%;
  border: 11px solid #e9896a;
  border-top-color: transparent;
  width: 159px;
  height: 159px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .green .orange {
    width: 191px;
    height: 191px;
    margin-top: 7px;
  }
}

main .my-skill .my-skills-flex-box .green .orange img {
  margin-top: 50px;
  width: 35px;
  height: 40px;
}

main .my-skill .my-skills-flex-box .green .orange hr {
  width: 80%;
  border: 1px solid #387c6d;
  margin: 0 auto;
}

main .my-skill .my-skills-flex-box .green .orange p {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 18px;
}

main .portfolio {
  margin-top: 54px;
}

main .portfolio .title-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
}

main .portfolio .title-flexbox .left {
  width: 50%;
  display: block;
  border-bottom: 2px dashed #343f56;
}

main .portfolio .title-flexbox h2 {
  font-size: 25px;
  text-align: center;
  margin: 10px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .title-flexbox h2 {
    font-size: 40px;
  }
}

main .portfolio .title-flexbox .right {
  width: 50%;
  display: block;
  border-bottom: 2px solid #343f56;
}

main .portfolio .group-work {
  margin: 50px 0 20px;
}

main .portfolio .group-work h3 {
  margin-top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
}

main .portfolio .group-work .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 10px 10px;
}

main .portfolio .group-work .background-blue a img {
  float: right;
  margin: 185px 10px;
}

main .portfolio .group-work .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .portfolio .group-work .button a {
  font-size: 18px;
}

main .portfolio .group-work .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
  padding: 20px;
}

main .portfolio .group-work .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
  padding: 20px 38px;
}

main .portfolio .group-work .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
  padding: 20px 47px;
}

main .portfolio .group-work .button .plan a {
  font-family: 'BMHANNAAir';
}

@media screen and (min-width: 1024px) {
  main .portfolio .group-work h3 {
    font-weight: 500px;
  }
  main .portfolio .group-work .background-blue {
    width: 933px;
    height: 635px;
  }
}

main .portfolio .personal-work {
  margin-top: 100px;
}

main .portfolio .personal-work h3 {
  margin-top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
}

main .portfolio .personal-work .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 10px 10px;
}

main .portfolio .personal-work .background-blue a img {
  float: right;
  margin: 185px 10px;
}

main .portfolio .personal-work .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .portfolio .personal-work .button a {
  font-size: 18px;
}

main .portfolio .personal-work .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
  padding: 20px;
}

main .portfolio .personal-work .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
  padding: 20px 38px;
}

main .portfolio .personal-work .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
  padding: 20px 47px;
}

main .portfolio .personal-work .button .plan a {
  font-family: 'BMHANNAAir';
}

main .portfolio .personal-work h3 {
  float: right;
}

main .portfolio .clone-coding {
  margin-top: 100px;
}

main .portfolio .clone-coding h3 {
  margin-top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
}

main .portfolio .clone-coding .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 10px 10px;
}

main .portfolio .clone-coding .background-blue a img {
  float: right;
  margin: 185px 10px;
}

main .portfolio .clone-coding .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .portfolio .clone-coding .button a {
  font-size: 18px;
}

main .portfolio .clone-coding .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
  padding: 20px;
}

main .portfolio .clone-coding .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
  padding: 20px 38px;
}

main .portfolio .clone-coding .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
  padding: 20px 47px;
}

main .portfolio .clone-coding .button .plan a {
  font-family: 'BMHANNAAir';
}

main .portfolio .video {
  margin-top: 100px;
}

main .portfolio .video h3 {
  margin-top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
}

main .portfolio .video .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 10px 10px;
}

main .portfolio .video .background-blue a img {
  float: right;
  margin: 185px 10px;
}

main .portfolio .video .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .portfolio .video .button a {
  font-size: 18px;
}

main .portfolio .video .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
  padding: 20px;
}

main .portfolio .video .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
  padding: 20px 38px;
}

main .portfolio .video .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
  padding: 20px 47px;
}

main .portfolio .video .button .plan a {
  font-family: 'BMHANNAAir';
}

main .portfolio .video h3 {
  text-align: center;
}

footer h2 {
  text-align: right;
  font-size: 25px;
  border-bottom: 2px solid #343f56;
  line-height: 1.6px;
  margin: 60px 10px 40px 10px;
}

footer h2 span {
  background-color: #fff;
  padding: 0 10px;
  margin: 0 30px;
}

footer .contact-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

footer .contact-flexbox .phone-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact-flexbox .phone-flexbox img {
  width: 16px;
  height: 16px;
}

footer .contact-flexbox .phone-flexbox p {
  font-size: 15px;
}

footer .contact-flexbox .phone-flexbox p span {
  font-size: 17px;
}

footer .contact-flexbox .email-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact-flexbox .email-flexbox img {
  width: 21px;
  height: 15px;
}

footer .contact-flexbox .email-flexbox p {
  font-size: 15px;
}

footer .contact-flexbox .email-flexbox p span {
  font-size: 17px;
}
/*# sourceMappingURL=index.css.map */