@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #f8f5f1;
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
}

p {
  font-size: 23px;
  color: #387c6d;
  font-family: 'Source Code Pro', monospace;
  font-weight: light;
}

h2 {
  color: #343f56;
  font-size: 40px;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  color: #343f56;
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  background-color: #eae9db;
}

header {
  width: 100%;
}

header .back-ground-color {
  position: relative;
  background-color: #f8f5f1;
  border-bottom-right-radius: 100px;
  height: 760px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color {
    height: 800px;
  }
}

header .back-ground-color .mobile-menu a {
  float: right;
  margin: 30px 15px;
}

header .back-ground-color .mobile-menu a span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #e9896a;
}

header .back-ground-color .mobile-menu a span:nth-child(2) {
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .mobile-menu {
    display: none;
  }
}

header .back-ground-color .orange-stroke {
  display: none;
  position: relative;
  margin: 0 auto;
  border: 8px solid #e9896a;
  border-radius: 50%;
  width: 567px;
  height: 567px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .orange-stroke {
    display: block;
    position: absolute;
    top: 46px;
    left: 111px;
  }
}

header .back-ground-color .orange-stroke .green-cir {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #387c6d;
  width: 531px;
  height: 531px;
}

header .back-ground-color .orange-stroke .green-cir nav .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .back-ground-color .orange-stroke .green-cir nav .gnb .title a {
  font-size: 40px;
}

header .back-ground-color .orange-stroke .green-cir nav .gnb .plus {
  padding-left: 50px;
  line-height: 52px;
}

header .back-ground-color .hello {
  text-align: center;
  padding: 112px 0 100px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .hello {
    display: none;
  }
}

header .back-ground-color .illustration {
  text-align: center;
}

header .back-ground-color .illustration .flower {
  position: absolute;
  bottom: 40px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .flower {
    position: absolute;
    bottom: 60px;
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    position: absolute;
    z-index: 1;
  }
}

header .back-ground-color .illustration .flower img {
  width: 542px;
  height: 424px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .flower img {
    width: 847px;
    height: 663px;
  }
}

header .back-ground-color .illustration .me {
  position: absolute;
  bottom: -4px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  z-index: 1;
}

header .back-ground-color .illustration .me img {
  width: 319px;
  height: 449px;
}

@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .me img {
    width: 499px;
    height: 702px;
  }
}

header .background-green {
  margin-top: 40px;
  background-color: #387c6d;
  height: 580px;
}

@media screen and (min-width: 1024px) {
  header .background-green {
    position: absolute;
    top: -40px;
    right: 0;
    width: 900px;
    height: 800px;
    border-radius: 100px;
  }
}

header .background-green img {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .background-green img {
    display: block;
    margin: -5px -3px;
  }
}

header .background-green p {
  text-align: center;
  padding-top: 82px;
  color: #e5bdb3;
  font-family: 'BMHANNAAir';
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  header .background-green p {
    text-align: right;
    margin-right: 75px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  main .my-skill .grid {
    position: absolute;
    top: 558px;
    left: 375px;
  }
}

main .my-skill .grid h2 {
  text-align: left;
  font-size: 25px;
  line-height: 1.6px;
  border-bottom: 2px solid #343f56;
  margin: 54px 10px 20px 10px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .grid h2 {
    font-size: 40px;
    height: 350px;
    padding: 347px 10px 0;
    border-left: 2px solid #343f56;
  }
}

main .my-skill .grid h2 span {
  background-color: #eae9db;
  padding: 0 15px;
  margin: 0 30px;
}

main .my-skill .my-skills-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box {
    display: block;
    margin-top: 285px;
  }
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .video {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    margin-top: 5px;
  }
}

main .my-skill .my-skills-flex-box .green {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #387c6d;
  width: 170px;
  height: 170px;
  margin: 10px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .green {
    width: 210px;
    height: 210px;
  }
}

main .my-skill .my-skills-flex-box .green .orange {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 11px solid #e9896a;
  width: 159px;
  height: 159px;
}

@media screen and (min-width: 1024px) {
  main .my-skill .my-skills-flex-box .green .orange {
    width: 191px;
    height: 191px;
  }
}

main .my-skill .my-skills-flex-box .green img {
  margin-top: 30px;
  width: 35px;
  height: 40px;
}

main .my-skill .my-skills-flex-box .green hr {
  width: 80%;
  border: 1px solid #387c6d;
  margin: 8px auto;
}

main .my-skill .my-skills-flex-box .green p {
  text-align: center;
  margin: -5px auto;
  font-size: 18px;
  line-height: 20px;
}

main .portfolio {
  position: relative;
  margin-top: 54px;
}

@media screen and (min-width: 1024px) {
  main .portfolio {
    margin-top: 150px;
  }
}

main .portfolio .title-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .title-flexbox {
    margin: 0;
  }
}

main .portfolio .title-flexbox .left {
  width: 50%;
  display: block;
  border-bottom: 2px dashed #343f56;
}

main .portfolio .title-flexbox h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .title-flexbox h2 {
    font-size: 40px;
  }
}

main .portfolio .title-flexbox .right {
  width: 50%;
  display: block;
  border-bottom: 2px solid #343f56;
}

main .portfolio .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  main .portfolio .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

main .portfolio .button .btn {
  position: relative;
  width: 100%;
  height: 57px;
  text-align: center;
  margin: 20px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .button .btn {
    margin-bottom: 5px;
    border-radius: 0 20px 20px 0;
    width: 182px;
    height: 57px;
  }
}

main .portfolio .button .btn a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
}

main .portfolio .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
}

main .portfolio .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
}

main .portfolio .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
}

main .portfolio .button .plan a {
  font-family: 'BMHANNAAir';
}

main .portfolio .work {
  margin-top: 70px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .work {
    margin-top: 33px;
    position: relative;
    margin-left: 15px;
  }
}

main .portfolio .work h3 {
  margin-top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .work h3 {
    font-size: 30px;
  }
}

main .portfolio .work .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .work .background-blue {
    width: 933px;
    height: 635px;
    margin-bottom: 54px;
  }
}

main .portfolio .work .background-blue a img {
  float: right;
  margin: 185px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .work .background-blue a img {
    margin: 290px 10px;
  }
}

main .portfolio .work .pc-m-cl {
  margin: 20px auto;
  height: 57px;
  width: 170px;
  border: 1px solid #343f56;
  background-color: #343f56;
}

@media screen and (min-width: 1024px) {
  main .portfolio .work .pc-m-cl {
    margin: 30px 20px;
  }
}

@media screen and (min-width: 1024px) {
  main .portfolio .work .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: 18px;
    margin-left: -15px;
    width: 1.5%;
  }
}

main .portfolio .personal-work {
  margin-top: 50px;
}

main .portfolio .personal-work h3 {
  text-align: right;
  font-size: 20px;
  padding: 0 10px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .personal-work h3 {
    font-size: 30px;
    margin: 0 10px;
  }
}

main .portfolio .personal-work .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .personal-work .background-blue {
    width: 933px;
    height: 635px;
    margin: 0 220px;
    margin-bottom: 52px;
  }
}

main .portfolio .personal-work .background-blue a img {
  float: right;
  margin: 185px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .personal-work .background-blue a img {
    float: left;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin: 290px 10px;
  }
}

@media screen and (min-width: 1024px) {
  main .portfolio .personal-work .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: -22px;
    width: 77%;
  }
  main .portfolio .personal-work .button {
    position: absolute;
    top: 840px;
    left: 18px;
  }
  main .portfolio .personal-work .button .btn {
    border-radius: 20px 0 0 20px;
  }
}

main .portfolio .video {
  margin-top: 50px;
  position: relative;
}

main .portfolio .video h3 {
  text-align: center;
  font-size: 20px;
  padding: 0 10px 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .video h3 {
    font-size: 30px;
    margin: 0 10px;
  }
}

main .portfolio .video .background-blue {
  background-color: #343f56;
  height: 390px;
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  main .portfolio .video .background-blue {
    width: 567px;
    height: 360px;
    margin: 0 auto;
  }
}

main .portfolio .video .background-blue a img {
  float: right;
  margin: 185px 10px;
}

main .portfolio .video .v-plan {
  margin: 20px auto;
  height: 57px;
  width: 170px;
  border: 1px solid #e9896a;
  background-color: #e9896a;
}

@media screen and (min-width: 1024px) {
  main .portfolio .video .v-plan {
    position: absolute;
    bottom: -105px;
    right: 110px;
  }
}

@media screen and (min-width: 1024px) {
  main .portfolio .video .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: -22px;
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  main .portfolio .v-l {
    position: absolute;
    top: 0;
    border-left: 2px dashed #343f56;
    height: 2930px;
    margin-top: 24px;
  }
}

footer {
  position: relative;
}

footer h2 {
  text-align: right;
  font-size: 25px;
  border-bottom: 2px solid #343f56;
  line-height: 1.6px;
  margin: 60px 10px 40px 10px;
}

@media screen and (min-width: 1024px) {
  footer h2 {
    margin: 0;
    padding-top: 330px;
    font-size: 40px;
  }
}

footer h2 span {
  background-color: #eae9db;
  padding: 0 10px;
  margin: 0 30px;
}

footer .contact-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact-flexbox .phone-email-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
}

@media screen and (min-width: 1024px) {
  footer .contact-flexbox .phone-email-flexbox {
    margin-top: 50px;
  }
}

footer .contact-flexbox .phone-email-flexbox img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1024px) {
  footer .contact-flexbox .phone-email-flexbox img {
    margin-left: 30px;
  }
}

footer .contact-flexbox .phone-email-flexbox .email {
  width: 21px;
  height: 15px;
}

footer .contact-flexbox .phone-email-flexbox p {
  padding-left: 5px;
  font-size: 15px;
  color: #343f56;
}

footer .contact-flexbox .phone-email-flexbox p span {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  footer .contact-flexbox .phone-email-flexbox p span {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  footer .contact-flexbox .phone-email-flexbox p {
    font-size: 18px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  footer .v-l {
    float: right;
    margin-top: -95px;
    height: 100px;
    border-left: 2px solid #343f56;
  }
}
/*# sourceMappingURL=index.css.map */