@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #f8f5f1;
  font-size: 25px;
  font-family: "Source Code Pro", monospace;
}

p {
  font-size: 23px;
  color: #387c6d;
  font-family: "Source Code Pro", monospace;
  font-weight: light;
}

h2 {
  color: #343f56;
  font-size: 40px;
  font-family: "Source Code Pro", monospace;
}

h3 {
  color: #343f56;
  font-size: 30px;
  font-family: "Source Code Pro", monospace;
}

@font-face {
  font-family: "BMHANNAAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  background-color: #eae9db;
}

header #top-bt {
  display: none;
  position: fixed;
  right: 0;
  bottom: 10%;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background: #e9896a;
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 100;
}
header .back-ground-color {
  position: relative;
  background-color: #f8f5f1;
  border-bottom-right-radius: 100px;
  height: 760px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color {
    height: 800px;
  }
}
header .back-ground-color .mobile-menu a {
  float: right;
  margin: 30px 15px;
}
header .back-ground-color .mobile-menu a span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #e9896a;
}
header .back-ground-color .mobile-menu a span:nth-child(2) {
  margin: 5px 0;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .mobile-menu {
    display: none;
  }
}
header .back-ground-color .orange-stroke {
  display: none;
  position: relative;
  border: 8px solid #e9896a;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .orange-stroke {
    display: block;
    position: absolute;
    top: 46px;
    left: 111px;
    width: 567px;
    height: 567px;
  }
}
header .back-ground-color .orange-stroke .green-cir {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #387c6d;
  width: 500px;
  height: 500px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .orange-stroke .green-cir {
    width: 531px;
    height: 531px;
  }
}
header .back-ground-color .orange-stroke .green-cir nav .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .back-ground-color .orange-stroke .green-cir nav .gnb .title {
  line-height: 60px;
}
header .back-ground-color .orange-stroke .green-cir nav .gnb .title a {
  font-size: 40px;
}
header .back-ground-color .orange-stroke .green-cir nav .gnb .title a:hover {
  color: #e5bdb3;
  font-size: 39px;
}
header .back-ground-color .orange-stroke .green-cir nav .gnb .plus {
  line-height: 40px;
}
header .back-ground-color .orange-stroke .green-cir nav .gnb .plus a:hover {
  text-decoration: underline;
  color: #e5bdb3;
  font-size: 24px;
}
header .back-ground-color .hello {
  text-align: center;
  padding: 112px 0 100px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .hello {
    display: none;
  }
}
header .back-ground-color .illustration .flower {
  text-align: center;
}
header .back-ground-color .illustration .flower img {
  position: absolute;
  bottom: -100px;
  transform: translate(-50%);
  width: 650px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .flower img {
    top: -70px;
    right: 50%;
    transform: translate(50%);
    z-index: 1;
    width: 1000px;
  }
}
header .back-ground-color .illustration .illustration-me .me {
  position: absolute;
  bottom: -4px;
  right: 50%;
  transform: translate(50%);
  z-index: 1;
}
header .back-ground-color .illustration .illustration-me .me img {
  width: 319px;
  height: 449px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .illustration-me .me img {
    width: 499px;
    height: 702px;
  }
}
header .back-ground-color .illustration .illustration-me .me-hover {
  position: absolute;
  bottom: -4px;
  right: 50%;
  transform: translate(50%);
  z-index: 1;
}
header .back-ground-color .illustration .illustration-me .me-hover img {
  width: 319px;
  height: 449px;
}
@media screen and (min-width: 1024px) {
  header .back-ground-color .illustration .illustration-me .me-hover img {
    width: 499px;
    height: 702px;
  }
}
header .background-green {
  margin-top: 40px;
  background-color: #387c6d;
  height: 580px;
}
@media screen and (min-width: 1024px) {
  header .background-green {
    position: absolute;
    top: -40px;
    right: 0;
    width: 900px;
    height: 800px;
    border-radius: 100px;
  }
}
header .background-green .hello-1 img {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .background-green .hello-1 img {
    display: block;
    margin-top: -10px;
    margin-left: -2px;
  }
}
header .background-green p {
  text-align: center;
  padding-top: 82px;
  color: #e5bdb3;
  font-family: "BMHANNAAir";
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  header .background-green p {
    text-align: right;
    margin-right: 75px;
    font-size: 25px;
  }
}

main #my-skill {
  position: relative;
}
@media screen and (min-width: 1024px) {
  main #my-skill .grid {
    position: absolute;
    top: -242px;
    left: 370px;
    overflow: hidden;
  }
}
main #my-skill .grid h2 {
  text-align: left;
  font-size: 25px;
  line-height: 1.6px;
  border-bottom: 2px solid #343f56;
  margin: 54px 10px 20px 10px;
}
@media screen and (min-width: 1024px) {
  main #my-skill .grid h2 {
    font-size: 40px;
    height: 350px;
    padding: 347px 10px 0;
    border-left: 2px solid #343f56;
  }
}
main #my-skill .grid h2 span {
  background-color: #eae9db;
  padding: 0 15px;
  margin: 0 30px;
}
@media screen and (min-width: 1024px) {
  main #my-skill .grid .green-ball {
    position: absolute;
    top: 336px;
    left: 310px;
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #387c6d;
    z-index: -1;
  }
}
main #my-skill .my-skills-flex-box {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  main #my-skill .my-skills-flex-box {
    margin: 0;
    display: block;
    padding-top: 555px;
  }
}
main #my-skill .my-skills-flex-box .web svg {
  width: 114px;
  height: 114px;
}
main #my-skill .my-skills-flex-box .web svg .green {
  fill: none;
  stroke-width: 10px;
  stroke: #387c6d;
}
main #my-skill .my-skills-flex-box .web svg [class^=orange-] {
  fill: none;
  stroke-width: 10px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
main #my-skill .my-skills-flex-box .web svg .orange-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 80;
  stroke: #e9896a;
  -webkit-animation: progress-1 7s ease-out;
          animation: progress-1 7s ease-out;
}
main #my-skill .my-skills-flex-box .web svg .orange-2 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 90;
  -webkit-animation: progress-2 7s ease-out;
          animation: progress-2 7s ease-out;
}
main #my-skill .my-skills-flex-box .web svg .orange-3 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 90;
  -webkit-animation: progress-3 7s ease-out;
          animation: progress-3 7s ease-out;
}
main #my-skill .my-skills-flex-box .web svg .orange-4 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 170;
  -webkit-animation: progress-4 7s ease-out;
          animation: progress-4 7s ease-out;
}
main #my-skill .my-skills-flex-box .web svg .orange-5 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 170;
  -webkit-animation: progress-5 7s ease-out;
          animation: progress-5 7s ease-out;
}
@-webkit-keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@-webkit-keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 90;
  }
}
@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 90;
  }
}
@-webkit-keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 90;
  }
}
@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 90;
  }
}
@-webkit-keyframes progress-4 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 170;
  }
}
@keyframes progress-4 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 170;
  }
}
@-webkit-keyframes progress-5 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 170;
  }
}
@keyframes progress-5 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 170;
  }
}
@media screen and (min-width: 1024px) {
  main #my-skill .my-skills-flex-box .web {
    display: flex;
    margin-top: -300px;
    width: 100%;
    justify-content: space-around;
  }
  main #my-skill .my-skills-flex-box .web svg {
    width: 114px;
    height: 114px;
  }
  main #my-skill .my-skills-flex-box .web svg .green {
    fill: none;
    stroke-width: 10px;
    stroke: #387c6d;
  }
  main #my-skill .my-skills-flex-box .web svg [class^=orange-] {
    fill: none;
    stroke-width: 10px;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  main #my-skill .my-skills-flex-box .web svg .orange-1 {
    stroke-dasharray: 360;
    stroke-dashoffset: 80;
    stroke: #e9896a;
    -webkit-animation: progress-1 7s ease-out;
            animation: progress-1 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .web svg .orange-2 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 90;
    -webkit-animation: progress-2 7s ease-out;
            animation: progress-2 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .web svg .orange-3 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 90;
    -webkit-animation: progress-3 7s ease-out;
            animation: progress-3 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .web svg .orange-4 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 170;
    -webkit-animation: progress-4 7s ease-out;
            animation: progress-4 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .web svg .orange-5 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 170;
    -webkit-animation: progress-5 7s ease-out;
            animation: progress-5 7s ease-out;
  }
  @-webkit-keyframes progress-1 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @keyframes progress-1 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @-webkit-keyframes progress-2 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 90;
    }
  }
  @keyframes progress-2 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 90;
    }
  }
  @-webkit-keyframes progress-3 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 90;
    }
  }
  @keyframes progress-3 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 90;
    }
  }
  @-webkit-keyframes progress-4 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 170;
    }
  }
  @keyframes progress-4 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 170;
    }
  }
  @-webkit-keyframes progress-5 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 170;
    }
  }
  @keyframes progress-5 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 170;
    }
  }
  main #my-skill .my-skills-flex-box .web .name-flexbox {
    display: flex;
  }
  main #my-skill .my-skills-flex-box .web .name-flexbox p {
    padding-right: 10px;
  }
}
main #my-skill .my-skills-flex-box .web .modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}
main #my-skill .my-skills-flex-box .web .modal .modal-content {
  width: 400px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
main #my-skill .my-skills-flex-box .web .modal .modal-content .upTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
main #my-skill .my-skills-flex-box .web .modal .modal-content p {
  padding: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
main #my-skill .my-skills-flex-box .web .modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 10px;
}
main #my-skill .my-skills-flex-box .web .modal .modal-content .close:hover, main #my-skill .my-skills-flex-box .web .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
main #my-skill .my-skills-flex-box .video svg {
  width: 114px;
  height: 114px;
}
main #my-skill .my-skills-flex-box .video svg .green {
  fill: none;
  stroke-width: 10px;
  stroke: #387c6d;
}
main #my-skill .my-skills-flex-box .video svg [class^=orange-] {
  fill: none;
  stroke-width: 10px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
main #my-skill .my-skills-flex-box .video svg .orange-6 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 80;
  -webkit-animation: progress-6 7s ease-out;
          animation: progress-6 7s ease-out;
}
main #my-skill .my-skills-flex-box .video svg .orange-7 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 80;
  -webkit-animation: progress-7 7s ease-out;
          animation: progress-7 7s ease-out;
}
main #my-skill .my-skills-flex-box .video svg .orange-8 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  -webkit-animation: progress-8 7s ease-out;
          animation: progress-8 7s ease-out;
}
main #my-skill .my-skills-flex-box .video svg .orange-9 {
  stroke: #e9896a;
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  -webkit-animation: progress-9 7s ease-out;
          animation: progress-9 7s ease-out;
}
@-webkit-keyframes progress-6 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@keyframes progress-6 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@-webkit-keyframes progress-7 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@keyframes progress-7 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
@-webkit-keyframes progress-8 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes progress-8 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@-webkit-keyframes progress-9 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes progress-9 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@media screen and (min-width: 1024px) {
  main #my-skill .my-skills-flex-box .video {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 50px;
  }
  main #my-skill .my-skills-flex-box .video svg {
    width: 114px;
    height: 114px;
  }
  main #my-skill .my-skills-flex-box .video svg .green {
    fill: none;
    stroke-width: 10px;
    stroke: #387c6d;
  }
  main #my-skill .my-skills-flex-box .video svg [class^=orange-] {
    fill: none;
    stroke-width: 10px;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  main #my-skill .my-skills-flex-box .video svg .orange-6 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 80;
    -webkit-animation: progress-6 7s ease-out;
            animation: progress-6 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .video svg .orange-7 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 80;
    -webkit-animation: progress-7 7s ease-out;
            animation: progress-7 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .video svg .orange-8 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 100;
    -webkit-animation: progress-8 7s ease-out;
            animation: progress-8 7s ease-out;
  }
  main #my-skill .my-skills-flex-box .video svg .orange-9 {
    stroke: #e9896a;
    stroke-dasharray: 360;
    stroke-dashoffset: 100;
    -webkit-animation: progress-9 7s ease-out;
            animation: progress-9 7s ease-out;
  }
  @-webkit-keyframes progress-6 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @keyframes progress-6 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @-webkit-keyframes progress-7 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @keyframes progress-7 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 80;
    }
  }
  @-webkit-keyframes progress-8 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 100;
    }
  }
  @keyframes progress-8 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 100;
    }
  }
  @-webkit-keyframes progress-9 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 100;
    }
  }
  @keyframes progress-9 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 100;
    }
  }
  main #my-skill .my-skills-flex-box .video .name-flexbox {
    display: flex;
  }
  main #my-skill .my-skills-flex-box .video .name-flexbox p {
    padding-right: 10px;
  }
}
main #my-skill .my-skills-flex-box .video .modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}
main #my-skill .my-skills-flex-box .video .modal .modal-content {
  width: 400px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
main #my-skill .my-skills-flex-box .video .modal .modal-content .upTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
main #my-skill .my-skills-flex-box .video .modal .modal-content p {
  padding: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
main #my-skill .my-skills-flex-box .video .modal .modal-content .close {
  color: #aaa;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}
main #my-skill .my-skills-flex-box .video .modal .modal-content .close:hover, main #my-skill .my-skills-flex-box .video .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  main .grid {
    width: 1170px;
    overflow: hidden;
  }
}
main .grid #portfolio {
  position: relative;
  margin-top: 54px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio {
    margin-top: 150px;
  }
}
main .grid #portfolio .title-flexbox {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .title-flexbox {
    margin: 0;
  }
  main .grid #portfolio .title-flexbox .orange-ball {
    position: absolute;
    top: -42px;
    left: 400px;
    border: 5px solid #e9896a;
    border-radius: 50%;
    width: 66px;
    height: 66px;
  }
}
main .grid #portfolio .title-flexbox .left {
  width: 50%;
  display: block;
  border-bottom: 2px dashed #343f56;
}
main .grid #portfolio .title-flexbox h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .title-flexbox h2 {
    font-size: 40px;
  }
}
main .grid #portfolio .title-flexbox .right {
  width: 50%;
  display: block;
  border-bottom: 2px solid #343f56;
}
main .grid #portfolio .button {
  display: flex;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .button {
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
main .grid #portfolio .button .btn {
  position: relative;
  width: 100%;
  height: 57px;
  text-align: center;
  margin: 20px 10px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .button .btn {
    margin-bottom: 5px;
    width: 182px;
    height: 57px;
  }
}
main .grid #portfolio .button .btn a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}
main .grid #portfolio .button .guide {
  border: 1px solid #e9896a;
  background-color: #e9896a;
}
main .grid #portfolio .button .guide img {
  width: 1170px;
}
main .grid #portfolio .button .pc-m {
  border: 1px solid #343f56;
  background-color: #343f56;
}
main .grid #portfolio .button .plan {
  border: 1px solid #387c6d;
  background-color: #387c6d;
}
main .grid #portfolio .button .plan a {
  font-family: "BMHANNAAir";
}
main .grid #portfolio .work {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work {
    margin-top: 33px;
    position: relative;
    margin-left: 15px;
  }
}
main .grid #portfolio .work h3 {
  margin-top: -40px;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work h3 {
    text-align: left;
    padding: 0 10px 10px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue {
    background-color: #343f56;
    margin: 0 10px;
    width: 933px;
    height: 635px;
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #gallery {
    overflow: hidden;
    width: 936px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #gallery #slider {
    width: 2808px;
    display: flex;
  }
}
main .grid #portfolio .work .background-blue #gallery #slider .mem-1 {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 {
    display: block;
    width: 936px;
    padding: 20px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 p {
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: "BMHANNAAir";
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .white-bg h4 {
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .membership-pc {
    height: 200px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .membership-pc2 {
    height: 200px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .m-flexbox {
    display: flex;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .m-flexbox .m-version {
    padding-right: 20px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .m-flexbox .m-version .membership-m {
    height: 200px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-1 .m-flexbox .source {
    height: 200px;
  }
}
main .grid #portfolio .work .background-blue #gallery #slider .mem-2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #gallery #slider .mem-2 {
    display: block;
    width: 936px;
    padding: 20px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-2 p {
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: "BMHANNAAir";
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-2 .white-bg h4 {
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-2 .source {
    width: 200px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-2 .intro-1 {
    height: 200px;
  }
}
main .grid #portfolio .work .background-blue #gallery #slider .mem-3 {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #gallery #slider .mem-3 {
    display: block;
    width: 936px;
    padding: 20px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-3 p {
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: "BMHANNAAir";
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-3 .white-bg h4 {
    color: #f8f5f1;
    font-size: 18px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-3 .source {
    width: 200px;
  }
  main .grid #portfolio .work .background-blue #gallery #slider .mem-3 .audio-1 {
    height: 200px;
  }
}
main .grid #portfolio .work .background-blue #arrow img {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .background-blue #arrow img {
    display: block;
    position: absolute;
    top: 50%;
    right: 210px;
    transform: translate(-50%);
    cursor: pointer;
    height: 20px;
  }
}
main .grid #portfolio .work .pc-m-cl {
  margin: 20px auto;
  height: 57px;
  width: 170px;
  border: 1px solid #343f56;
  background-color: #343f56;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .pc-m-cl {
    margin: 30px 20px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .work .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: 18px;
    margin-left: -15px;
    width: 1.5%;
  }
}
main .grid #portfolio .personal-work {
  margin-top: 50px;
}
main .grid #portfolio .personal-work h3 {
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work h3 {
    padding: 0 10px 10px;
    font-size: 30px;
    margin: 0 10px;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .background-blue {
    margin: 0 10px;
    background-color: #343f56;
    position: relative;
    width: 933px;
    height: 635px;
    margin: 0 220px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .background-blue #gallery-1 {
    overflow: hidden;
    width: 936px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 {
    position: relative;
    width: 1872px;
    display: flex;
    padding-left: 20px;
  }
}
main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide {
    display: block;
    width: 936px;
    padding: 30px;
  }
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide p {
    font-size: 25px;
    color: #f8f5f1;
    padding: 10px;
  }
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide .personal-img {
    display: flex;
  }
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide .personal-img .personal {
    padding-right: 10px;
    height: 480px;
  }
  main .grid #portfolio .personal-work .background-blue #gallery-1 #slider-1 #personal-slide .personal-img-2 .personal {
    padding-right: 10px;
    height: 500px;
  }
}
main .grid #portfolio .personal-work .background-blue #arrow-1 img {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .background-blue #arrow-1 img {
    display: block;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 50%;
    left: 5px;
    height: 20px;
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .personal-work .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: -22px;
    width: 77%;
  }
  main .grid #portfolio .personal-work .button {
    position: absolute;
    top: 840px;
    left: 18px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #clone-coding .background-blue {
    width: 933px;
    height: 635px;
    padding: 20px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #clone-coding .background-blue #gallery-2 {
    overflow: hidden;
    width: 877px;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 {
    position: relative;
    width: 1872px;
    display: flex;
  }
}
main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide {
    display: block;
    width: 936px;
  }
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide .txt {
    font-family: "BMHANNAAir";
  }
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide p {
    padding-top: 20px;
    font-size: 21px;
    color: #f8f5f1;
  }
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide .clone-flexbox .clone-pc {
    padding-bottom: 20px;
    padding-right: 20px;
    height: 230px;
  }
  main .grid #portfolio #clone-coding .background-blue #gallery-2 #slider-2 .clone-slide .clone-flexbox .clone-m {
    padding-top: 5px;
    padding-right: 15px;
    height: 400px;
  }
}
main .grid #portfolio #clone-coding .background-blue #arrow-2 img {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #clone-coding .background-blue #arrow-2 img {
    display: block;
    position: absolute;
    top: 50%;
    right: 210px;
    transform: translate(-50%);
    cursor: pointer;
    height: 20px;
  }
}
main .grid #portfolio #video1 {
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 {
    position: relative;
    text-align: center;
  }
}
main .grid #portfolio #video1 h3 {
  text-align: center;
  font-size: 20px;
  padding: 0 10px 10px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 h3 {
    font-size: 30px;
    margin: 0 10px;
  }
}
main .grid #portfolio #video1 .bg {
  margin: 0 auto;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 .bg {
    background-color: #343f56;
    padding: 20px;
    width: 900px;
  }
}
main .grid #portfolio #video1 .bg video {
  width: 460px;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 .bg video {
    width: 800px;
  }
}
main .grid #portfolio #video1 .bg p {
  font-family: "BMHANNAAir";
  color: #343f56;
  padding: 0 25px;
  padding-top: 30px;
  font-size: 21px;
  line-height: 25px;
  text-align: justify;
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 .bg p {
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio #video1 .h-l {
    border-bottom: 2px dashed #343f56;
    margin-bottom: -22px;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  main .grid #portfolio .v-l {
    position: absolute;
    top: 0;
    border-left: 2px dashed #343f56;
    height: 3000px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  footer .grid {
    position: relative;
    overflow: hidden;
    width: 1170px;
  }
}
@media screen and (min-width: 1024px) {
  footer .grid .line {
    height: 70px;
    border-left: 2px dashed #343f56;
  }
}
footer .grid h2 {
  text-align: right;
  font-size: 25px;
  border-bottom: 2px solid #343f56;
  line-height: 1.6px;
  margin: 100px 10px 40px 10px;
}
@media screen and (min-width: 1024px) {
  footer .grid h2 {
    margin: 0;
    font-size: 40px;
  }
}
footer .grid h2 span {
  background-color: #eae9db;
  padding: 0 10px;
  margin: 0 30px;
}
@media screen and (min-width: 1024px) {
  footer .grid .green-ball-2 {
    position: absolute;
    bottom: 100px;
    left: 400px;
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #387c6d;
  }
}
footer .grid .contact-flexbox {
  display: flex;
}
footer .grid .contact-flexbox .phone-email-flexbox {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
}
@media screen and (min-width: 1024px) {
  footer .grid .contact-flexbox .phone-email-flexbox {
    margin-top: 50px;
  }
}
footer .grid .contact-flexbox .phone-email-flexbox img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1024px) {
  footer .grid .contact-flexbox .phone-email-flexbox img {
    margin-left: 30px;
  }
}
footer .grid .contact-flexbox .phone-email-flexbox .email {
  width: 21px;
  height: 15px;
}
footer .grid .contact-flexbox .phone-email-flexbox p {
  padding-left: 5px;
  font-size: 15px;
  color: #343f56;
}
footer .grid .contact-flexbox .phone-email-flexbox p span {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  footer .grid .contact-flexbox .phone-email-flexbox p span {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  footer .grid .contact-flexbox .phone-email-flexbox p {
    font-size: 18px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  footer .grid .v-l {
    float: right;
    margin-top: -95px;
    height: 100px;
    border-left: 2px solid #343f56;
  }
}
footer .github {
  width: 20px;
}
@media screen and (min-width: 1024px) {
  footer .github {
    width: 35px;
    position: fixed;
    bottom: 0;
    right: 300px;
  }
}/*# sourceMappingURL=index.css.map */