$font-color: #f8f5f1;
$font-color2: #e5bdb3;
$bg: #eae9db;
$orange: #e9896a;
$green: #387c6d;
$blue: #343f56;
$button-1: #bfbfbf;
$button-2: #606060;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;