* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    list-style: none;
}

