//color
$white: white;
$black: black;
$nav-bg: #f6f5ef;
$icon: #55443a;
$main-btn: #1c3831;
$promotion-bg: #f6f5ef;
$rewards-bg: #1e3932;
$rewards-btn: #00704a;
$rewards-line: #4b615b;
$peru-btn: #00704a;
$store-bg: #e7e7e7;
$footer-menu-light: #645952;
$footer-menu-dark: #554c46;
$footer-border: #403a36;
$footer-menu-font: #e6dbd3;
$footer-bg: #2c2a29;
$footer-bg-dark: #282828;
$green: #04a542;
$ccc: #cccccc;
$indonesia-btn: #b9813e;


//font family

//반응형 크기
$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;